<div class="Searchbar" @onclick="OpenSearchbar">
    <input @bind="searchText" type="text" placeholder="@($"Search in {currentRoute}")" id="searchInput" />
    <img src="Images/Icons/Search.png" />
</div>

<style>
    .Searchbar {
        border-radius: 50000px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }

        .Searchbar img {
            width: 20px;
            height: 20px;
            margin: 10px 0px 4px 0px;
        }

        .Searchbar input {
            font-size: 18px;
            color: #444242;
            padding: 7px 0px;
            border: none;
            outline: none;
            background: none;
            flex-grow: 1;
        }

            .Searchbar input::placeholder {
                color: #B9B6B6;
            }
</style>

@code {
    [Parameter]
    public string currentRoute { get; set; }

    private string searchText = "";

    private void OpenSearchbar()
    {

    }
}
