@using QuickOrderSystemAdminApp.Data;
@using QuickOrderSystemAdminApp.Pages.PopUp;
@using QuickOrderSystemClassLibrary;
@inject PopUpService PopupService

@page "/QR-Code"
<table class="table">
    <thead>
        <tr>
            <th>Qr Code ID</th>
            <th>Table Number</th>
            <th>Created</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (qrCode == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @foreach (var item in qrCode)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.TableNumber</td>
                    <td>@item.Created</td>
                    <td>@item.ImageData</td>
                </tr>
            }
        }
    </tbody>
</table>
<button @onclick="AddQrCode" class="add-button">
    Hinzufügen
</button>


@code {
    private List<QrCode> qrCode;
    private QrCodeService qrCodeService;

    protected override async Task OnInitializedAsync()
    {
        qrCodeService = new QrCodeService("https://localhost:7278/api");
        qrCode = await qrCodeService.GetAllAsync();
    }

    private void AddQrCode()
    {
        RenderFragment content = builder =>
        {
            builder.OpenComponent(0, typeof(CreateQrCode));
            builder.AddAttribute(1, "Items", new List<string> { "Item1", "Item2" });
            builder.AddAttribute(2, "Create", true);
            builder.CloseComponent();
        };

        PopupService.Show(content);
    }
}

<style>
    .add-button {
        width: 100%;
        text-align: center;
        border: none;
        border-radius: 12px;
    }
</style>
