@using QuickOrderSystemAdminApp.Data;
@inject PopUpService PopupService

<div class="container">
    <div style="position: relative;">
        <!-- Formular -->
        <div>
            @foreach (var item in Items)
            {
                <div class="input-group mb-3">
                    <span class="input-group-text">@item</span>
                    <input type="text" class="form-control" placeholder="Bitte eingeben" style="width: 100%;">
                </div>
            }
        </div>

        <!-- Buttons -->
        <div style="position: sticky; bottom: 0;">
            <button @onclick="ClosePopup" class="btn btn-danger">Cancel</button>
            @if (Create)
            {
                <button class="btn btn-success">Create</button>
            }
            else
            {
                <button class="btn btn-primary">Edit</button>
            }
        </div>
    </div>
</div>

@code {
	[Parameter]
	public List<string> Items { get; set; } = new List<string>();

	[Parameter]
	public bool Create { get; set; }

	private void ClosePopup()
	{
		PopupService.Close();
	}
}
