@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="content">
            <article>
                @Body
            </article>
        </div>
        
    </main>
</div>

<style>
    .content {
        padding: 10px;
    }
</style>
