@using QuickOrderSystemClassLibrary;
@using QuickOrderSystemClassLibrary.Services.Api
@using QuickOrderSystemAdminApp.Data
@inject PopUpService PopupService

@page "/QR-Code"
<div style="padding: 8px;">
    <QrCodeCard QrCodes="@_qrCode" />
</div>

@code {
    private List<QrCode> _qrCode;
    private QrCodeService _qrCodeService;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadQrCodeTask();
    }

    private async Task LoadQrCodeTask()
    {
        _qrCodeService = new QrCodeService("https://localhost:7278/api", UserIdService.UserId.Value);
        _qrCode = await _qrCodeService.GetAllAsyncTask();
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadQrCodeTask();
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private async void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        if (NavigationManager.Uri.EndsWith("/QR-Code"))
        {
            await LoadQrCodeTask();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }
    [Inject]
    private NavigationManager NavigationManager { get; set; }
}