@using QuickOrderSystemClassLibrary.Services.Api
@using QuickOrderSystemAdminApp.Data
@using QuickOrderSystemClassLibrary

@if (products == null)
{
    <p><em>Load Products...</em></p>
}
else
{
    <div class="products-container">
        @foreach (var product in products)
        {
            <ProductCard Product="@product" />
        }
    </div>
}

@code {
    [Parameter] public string test { get; set; }

    private ProductService productService;
    private List<Product>? products;

    protected override async Task OnParametersSetAsync()
    {
        productService = new ProductService("https://localhost:7278/api");
        products = await productService.GetAllAsync();
    }
}

<style>
    .products-container {
        display: flex;
        flex-wrap: wrap; /* Damit die Karten in die nächste Zeile umgebrochen werden, wenn der Platz aufgebraucht ist */
        justify-content: space-between;
    }
</style>